<footer class="site-footer">
    <div class="site-footer-inner">
        <div>
            <a class="site-footer-logo" href="{{@site.url}}">{{@site.title}}</a>
            {{#if @site.description}}<p>{{@site.description}}</p>{{/if}}
        </div>
        <p class="site-copyright">{{@site.title}} &copy; {{date format="YYYY"}}. Published with Ghost.</p>
    </div>
</footer>
