<header class="site-header" data-site-header>
    <div class="site-header-inner">
        <a class="site-logo" href="{{@site.url}}" aria-label="{{@site.title}}">
            {{#if @site.logo}}
                <img src="{{@site.logo}}" alt="{{@site.title}}">
            {{else}}
                {{@site.title}}
            {{/if}}
        </a>

        <nav class="site-nav" aria-label="Primary navigation" data-site-nav>
            {{navigation}}
        </nav>

        <div class="site-actions">
            <button class="icon-button search-button" type="button" aria-label="Search" data-ghost-search>
                <svg viewBox="0 0 24 24" aria-hidden="true">
                    <path d="m21 21-4.3-4.3m1.3-5.2a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0Z"></path>
                </svg>
            </button>
            {{#if @member}}
                <a class="subscribe-link" href="#/portal/account">Account</a>
            {{else}}
                <a class="signin-link" href="#/portal/signin">Sign in</a>
                <a class="subscribe-link" href="#/portal/signup">Subscribe</a>
            {{/if}}
            <button class="menu-button" type="button" aria-label="Toggle menu" aria-expanded="false" data-menu-toggle>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>
